/* h1{
    background-color: aquamarine;
} */

/* #firstId{
    background-color: rgb(222, 10, 165);
}

.classA{
    background-color: chocolate;
} */

/* h1{
    background-color: rgb(82, 70, 72);
} */

ul{
    background-color: aqua;
}

h2{
    background-color: blueviolet !important;
}